/* - - - - - - - - -  
* Import taildwind
* - - - - - - - - -  */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* - - - - - - - - -  
* Fonts
* - - - - - - - - -  */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../assets/fonts/Montserrat/Montserrat-Thin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../assets/fonts/Montserrat/Montserrat-ExtraLight.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../assets/fonts/Montserrat/Montserrat-Light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../assets/fonts/Montserrat/Montserrat-Medium.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/Montserrat/Montserrat-ExtraBold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../assets/fonts/Montserrat/Montserrat-Black.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* - - - - - - - - -  
* Colors
* - - - - - - - - -  */

:root {
  --white: #FFF;
  --black: #000;
  --skeleton: #DDDBDD;
  --accent: #27374D;
}

/* - - - - - - - - -  
* Universal
* - - - - - - - - -  */

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

body {
  background: #F0F0F0;
  margin-bottom: 100px;
}

/* - - - - - - - - -  
* Animation
* - - - - - - - - -  */

@keyframes bounce {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes skeleton {
  100% {
    transform: translateX(100%);
  }
}

@keyframes alert {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}


/* - - - - - - - - -
* Class
* - - - - - - - - -  */

.btn-sm {
  align-items: center;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.btn-md {
  align-items: center;
  border-radius: 18px;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: all 300ms ease-in-out;
  width: 128px;
}

.btn-lg {
  align-items: center;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.btn-full {
  align-items: center;
  border-radius: 18px;
  display: flex;
  height: 40px;
  transition: all 300ms ease-in-out;
  width: 100%;
}

.btn-category {
  align-items: center;
  display: flex;
  background-color: var(--white);
  border-radius: 99px;
  height: 90px;
  justify-content: center;
  padding: 4px 8px;
  width: 90px;
}

.not-scroll::-webkit-scrollbar {
  display: none;
}

.alert {
  animation: alert 1s alternate;
  z-index: -1;
}

/* - - - - - - - - -
* Suspense
* - - - - - - - - -  */

.suspense {
  align-items: center;
  background: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.suspense .supense-circle {
  animation: bounce 0.5s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  background-color: var(--secondary);
  border-radius: 999px;
  height: 20px;
  width: 20px;
}

.suspense .supense-circle.suspense-1 {
  animation-delay: 0.1s;
}

.suspense .supense-circle.suspense-2 {
  animation-delay: 0.3s;
}

.suspense .supense-circle.suspense-3 {
  animation-delay: 0.5s;
}

/* - - - - - - - - -
* Skelentons
* - - - - - - - - -  */

.skeleton-active {
  background-color: var(--skeleton);
  overflow: hidden;
  position: relative;
}

.skeleton-active::after {
  animation: skeleton 2s infinite;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 100%);
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
}

.skeleton-circular {
  border-radius: 999px;
}

.skeleton-rectangular {
  border-radius: 0;
}

.skeleton-rounded {
  border-radius: 16px;
}

.skeleton-rounded-full {
  border-radius: 100%;
}

/* - - - - - - - - -  
* DatePicker
* - - - - - - - - -  */

.react-datepicker {
  border: 0 !important;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  .react-datepicker__header {
    background: var(--white);
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px;

    .react-datepicker__current-month {
      color: var(--accent);
      text-transform: uppercase;
    }

    .react-datepicker__day-names {
      .react-datepicker__day-name {
        text-transform: capitalize;
      }
    }
  }

  .react-datepicker__navigation {
    .react-datepicker__navigation-icon {
      &:hover {
        &::before {
          border-color: var(--accent);
        }
      }

      &::before {
        border-color: var(--accent);
        top: 12px;
      }
    }
  }

  .react-datepicker__month-select,
  .react-datepicker__year-select {
    outline: none;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--in-range,
  .react-datepicker__day--keyboard-selected {
    &.react-datepicker__day--today {
      background-color: var(--accent);
    }

    &:hover {
      background-color: var(--accent);
    }
  }
}

.react-datepicker__close-icon {
  &::after {
    background-color: var(--accent) !important;
    transition: background-color .3s ease-in-out;
  }

  &:hover {
    &::after {
      background-color: var(--accent) !important;
    }
  }
}

.react-datepicker__input-container input::placeholder {
  color: var(--accent);
  opacity: 1;
}

/* - - - - - - - - -
* Services
* - - - - - - - - -  */

.services {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

/* - - - - - - - - -
* DetailProduct
* - - - - - - - - -  */

.detail-products {
  background-color: #F0F0F0;
  height: 100%;
  position: fixed;
  top: 0;
  transition: all 300ms ease;
  transform: translateY(1000px);
  width: 100%;
  z-index: 10;
}

.detail-products.active {
  overflow-y: scroll;
  transform: translateY(0px);
}

.detail-products .header-detail {
  margin-top: -40px;
}

/* - - - - - - - - -
* CategoryGroup
* - - - - - - - - -  */

.category-group .card-category {
  border-bottom: 1px solid #cecece;
  padding-bottom: 1rem;
}

.category-group .card-category:last-child {
  border-bottom: none;
}